{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Kate Ryan - Ella Elle La</h1></center><br /><br />
<pre>
C’est comme une gaiete Comme un sourire<br />
Quelque chose dans la voix<br />
Qui paraît nous dire “viens”<br />
Qui nous fait sentir etrangement bien<br />
<br />
C’est comme toute l’histoire<br />
Du peuple noir<br />
Qui se balance<br />
Entre l’amour et l’désespoir<br />
Quelque chose qui danse en toi<br />
<br />
Si tu l’as, tu l’as<br />
Ella, elle l’a<br />
<br />
Elle l’a Ou ou ou ou ou ou ou<br />
Ce je n’sais quoi<br />
Elle l’a Ou ou ou ou ou ou ou<br />
Que d’autres n’ont pas<br />
Qui nous mets dans un drôle d’état<br />
Ella, elle l’a Ella, elle l’a<br />
Elle l’a Ou ou ou ou ou ou ou<br />
Ella, elle l’a<br />
Elle l’a Ou ou ou ou ou ou ou<br /><br />
</pre>
{% endblock %}
