{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Emely</h1></center><br /><br />
<pre>
I'm hiding from myself<br />
I'm so scared to be on the edge<br /> 
It's like everytime we take a breath<br /> 
I die a little bit<br /> 
I cry a little bit <br />
<br />
Emely<br />
Where are you now<br />
Where are you now<br />
Emely<br />
I'm crying now<br />
I'm crying now<br />
Emely<br />
I'm crying now<br /> 
<br />
One day's becoming straight<br />
It's you that straight in anyway<br />
It's almost like it seems to be <br />
I die a little bit <br />
I cry a little bit<br />
<br />
Emely <br />
Where are you now<br />
Where are you now<br />
Emely<br />
I'm crying now<br />
I'm crying now<br />
Emely <br />
Where are you now<br />
Where are you now<br />
Emely<br />
I'm crying now<br />
I'm crying now<br />
<br />
Emely (Emely)<br />
Where are you now<br />
Where are you now<br />
Emely ( Oooh)<br />
I'm crying now<br />
I'm crying now<br />
Emely (Where are you now)<br />
Where are you now<br />
Where are you now<br />
Emely<br />
I'm crying now<br />
I'm crying now<br />
Oh<br /><br />
</pre>
{% endblock %}
